@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; 
  overflow: hidden;
  display: flex; /* Para centrar verticalmente */
  justify-content: flex-start; /* Mantiene el contenido alineado a la izquierda */
  align-items: center; 
  min-height: 100vh;
  position: relative;
  background: none;
  padding-left: 8em; /* Ajusta este valor según lo que necesites */
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1; /* Detrás del contenido */
  background-image: url('../images/fondoOffice.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1; 
}
